
<h1>Parents to rent</h1>

  <div class="row">
    <% @couples.each do |couple| %>
    <div class="col-4">
        <div class="card-trip mb-8">
           <%= cl_image_tag couple.photo, id: 'cover-image', height: 300, width: 400, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <%= couple.name %>
       <p>Surnom: <%= couple.nickname %> </p>
       </div>
        <p>Pire défaut: <%= couple.worst_default %> </p>
        <p>Meilleure qualité:<%= couple.best_quality %> </p>
        <%= link_to 'see more', couple_path(couple) %>
            </div>
            <h2 class="card-trip-pricing"><%= couple.price %></h2>
            <%= cl_image_tag couple.user.photo, class: "card-trip-user avatar-bordered" %>
          </div>
        </div>
     <% end %>
    </div>
  </div>
