
<div class="container mt-5">
  <div class="show-container">
    <%= cl_image_tag @couple.photo, height: 600, width: 600, crop: :fill, class: "show-image" %>
      <div class="show-information">
         <div class="show-name">
           <h1>Les <%= @couple.name %></h1>
           <h3 class="show-price"><%= @couple.price%> €</i></h3>
           <h4><%= @couple.address %></h4>
        </div>
          <div class="show-details">

             <p> <strong></strong> "<%= @couple.description %> "</p> <br>
             <p id="show-star"> <span ><%= render partial: "average_stars", locals: { couple: @couple } %></span> </p>  <br>
             <div class="image-emoji">
             <p><%= cl_image_tag('thumb-down_ffnoaz',width: 30, height: 30) %>   <%= @couple.worst_default %> </p>
             <p> <%= cl_image_tag('thumbs-up_vigkhn',width: 30, height: 30) %>   <%= @couple.best_quality %> </p>
             </div>

          </div>

          <% if @error %>
            <p style="color: red"> Ces parents sont déjà réservés sur cette date ! </p>
          <% end %>

          <% if @couple.user == current_user %>
            <p>Vous n'allez quand même pas louer vos propres parents...</p>
          <% else %>
            <br>
            <div class="">
              <div class="">

                <div  class= "booking_details"><p class="booking_price"></p><p class="booking_reservation"></p></div>

                <%= render 'couples/form', booking: Booking.new %>

                  <br>
              <div class="card-review-rating">

                <% @reviewed_old_bookings.each do |booking| %>

                <div class="card-product2">
                  <%= cl_image_tag booking.user.photo, class: 'card-photo', height: 40, width: 40 %>
                  <div class="card-product-infos2">
                    <p>Avis laissé le : <%= booking.end_date %></p>
                    <h2><% booking.review_rating.times do %>
                         <i class="fas fa-star"></i>
                       <% end %>
                       <% (5 - booking.review_rating).times do %>
                         <i class="far fa-star"></i>
                      <% end %></h2>
                    <p> "<%= booking.review_content %> "</p>
                  </div>
                </div>

                <% end %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
