
<div class="container mt-5">
  <div class="show-container">
    <%= cl_image_tag @couple.photo, height: 600, width: 600, crop: :fill, class: "show-image" %>
      <div class="show-information">
         <div class="show-name">
          <h1><strong>Les <%= @couple.name %></strong></h3>
          <h3><%= @couple.nickname %></h1>
          <h4><%= @couple.price%>€/jour</h4>
        </div>
        <h4><i class="fas fa-map-marker-alt"></i> <%= @couple.address %></h4>
          <div class="show-details">
              <strong> Talents:</strong> <%= @couple.skills %>
              <strong> Qualité:</strong> <%= @couple.best_quality %>
              <strong> Description:</strong> <%= @couple.description %>
              <strong> Pire défaut:</strong> <%= @couple.worst_default %>
              <strong> Propriétaire:</strong> <%= @couple.user.fullname %>
          </div>
          <% if @error %>
            <p style="color: red"> Ces parents sont déjà réservés sur cette date ! </p>
          <% end %>

          <% if @couple.user == current_user %>
            <p>Vous n'allez quand même pas louer vos propres parents...</p>
          <% else %>

            <div class="">
              <div class="">
                <%= render 'couples/form', booking: Booking.new %>
              </div>

              <div class="card-review-rating">
                <% @reviewed_old_bookings.each do |booking| %>
                  <ul>
                    <li>Avis laissé le : <%= booking.end_date %><br/>
                      <% booking.review_rating.times do %>
                         <i class="fas fa-star"></i>
                       <% end %>
                       <% (5 - booking.review_rating).times do %>
                         <i class="far fa-star"></i>
                      <% end %>
                    </li>
                     <p>Commentaire : <%= booking.review_content %></p>
                  </ul>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>


