<div display_container>
  <ul class="display-container">

    <% if @current_user.couple.bookings.nil? && @current_user.bookings.nil? %>

    <% else %>

      <li class="note-display" data-note=<%= @current_user.couple.bookings.length + @current_user.bookings.length %>>
        <div class="circle">
          <svg width="84" height="84" class="circle__svg">
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
          </svg>

          <div class="percent">
            <span class="percent__int"><%= @current_user.couple.bookings.length + @current_user.bookings.length %></span>
            <span class="percent__dec"></span>
          </div>
        </div>

        <span class="label">RESERVATIONS EFFECTUEES</span>
      </li>

    <% end %>

    <li class="note-display" data-note=<%= @bookings_to_validate.length %>>
      <div class="circle">
        <svg width="84" height="84" class="circle__svg">
          <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
          <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
        </svg>

        <div class="percent">
          <span class="percent__int">
            <%= @bookings_to_validate.length %>
          </span>
        </div>
      </div>

      <span class="label">RESERVATIONS A VALIDER</span>
    </li>

    <li class="note-display" data-note=<%= @old_bookings_to_review.length %>>
      <div class="circle">
        <svg width="84" height="84" class="circle__svg">
          <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
          <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
        </svg>

        <div class="percent">
          <span class="percent__int">
            <%= @old_bookings_to_review.length %>
          </span>
        </div>
      </div>

      <span class="label">RESERVATIONS A NOTER</span>
    </li>
  </ul>
</div>
