  <div class="dashboard-cover">
    <h1 class="text-center main-title">MON DASHBOARD</h1>
      <p class="text-white"><%= current_user.fullname %></p>
    <div d-flex>
      <%= link_to 'Editer le profil', edit_user_registration_path, class: "button-default white opacity-08" %>
    </div>
    <br>
    <%= render 'circles' %>
  </div>

<div class="container">
  <%= render 'mesparents' %>
</div>
<div class="container">
  <%= render 'mesresa' %>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#parents">Mes parents</a></li>
  <li><a data-toggle="tab" href="#moi">Mes réservations</a></li>
</ul>

<div class="tab-content">
  <div id="parents" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="moi" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
</div>

