<div class="dashboard-cover">
  <div class="dashboard-cover-child">
    <h1 class="text-center main-title-dashboard">MON DASHBOARD</h1>
      <p class="text-white"><%= current_user.fullname %></p>
    <div d-flex>
      <%= link_to 'Editer le profil', edit_user_registration_path, class: "button-default white opacity-08" %>
    </div>
    <br>
    <%= render 'circles' %>
  </div>
</div>



<div class="mx-auto">
  <ul class="nav margin-left" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active tab-label" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">MES PARENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">MES RESERVATIONS</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active tab-content" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= render 'mes_parents' %>
    </div>
    <div class="tab-pane fade tab-content" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%= render 'mes_reservations' %>
    </div>
  </div>
</div>
