<h1>My dashboard</h1>

<%= cl_image_tag(current_user.photo, :transformation=>[
  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>40, :crop=>"scale"}
  ]) %>

<p><%= current_user.fullname %></p>

<%= link_to 'Edit profile',  edit_user_registration_path %>

<% if current_user.photo.file.nil? %>
  <p>Ajoutez votre trombine :</p>
<% else %>
  <%= cl_image_tag current_user.photo %>
<% end %>

<h2>My parents</h2>

  <% if current_user.couple.nil? %>
    <%= link_to 'Add my parents',  new_couple_path %>
  <% else %>
    <%= cl_image_tag(current_user.couple.photo, :transformation=>[
    {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
    {:width=>80, :crop=>"scale"}
    ]) %>

  <p><%= current_user.couple.name %></p>

  <% current_user.couple.bookings.each do |booking| %>
    <p><%= booking.status %></p>
  <% end %>
<% end %>

<h2>My reservations</h2>

<div>
  <h3>Upcoming reservations</h3>
  <% @old_bookings.each do |old_booking| %>
    <%= old_booking.couple.name %>
    <p> Du <%= old_booking.couple.start_date %> au <%= old_booking.couple.end_date %></p>
  <% end %>
</div>

<div>
  <h3>Previous reservations to review</h3>

  <% @old_bookings_to_review.each do |old_booking_to_review| %>

    <p>Vous avez réservé avec <%= old_booking_to_review.couple.name %></p>
    <p>Du <%= old_booking_to_review.couple.start_date %> au <%= old_booking_to_review.couple.end_date %></p>

    <p>Reviewez ces parents:</p>
    <%= simple_form_for [old_booking_to_review.couple, old_booking_to_review] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :review_content %>
        </div>
        <div class="form-inputs">
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>

</div>





