<div class="navbar-lewagon navbar-lewagon-white">
  <p><%= link_to "PARHUNT", couples_path(anchor: "scroll-to-all-parents" ) %> <i class="fas fa-female"></i><i class="fas fa-male"></i></p>
  <div id="navbar-btns-avatar">
    <button type="button" class="button-default turquoise" >
      <span data-scroll > <%=link_to 'Voir les parents à louer',couples_path(anchor: "scroll-to-all-parents")   %> </span>
    </button>
    <% if current_user && current_user.couple.nil? %>
      <button type="button" class="button-default turquoise button-navbar"><%= link_to "Louez vos parents", new_couple_path %></button>
    <% end %>
    <% if current_user.nil? %>
      <button type="button" class="button-default rouge button-navbar"><%= link_to "Se connecter", new_user_session_path %></button>
    <% else  %>
      <button type="button" class="button-default turquoise-light button-navbar"> <%= link_to('Se déconnecter', destroy_user_session_path, method: :delete) %></button>
      <%= link_to dashboard_path do %>
        <div>
          <div>
             <%= cl_image_tag current_user.photo,crop: :fill, width: 1000, gravity: :auto, radius: "max", aspect_ratio: "1:1", class: "avatar" %>
          </div>
          <% if current_user.notifications > 0 %>
            <div id="navbar-notif-badge">
              <%= current_user.notifications %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
