<h1>My dashboard</h1>

<%= cl_image_tag(current_user.photo, :transformation=>[
  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>40, :crop=>"scale"}
  ]) %>

<p><%= current_user.fullname %></p>

<% if current_user.photo.file.nil? %>
  <p>Ajoutez votre trombine :</p>
<% else %>
  <%= cl_image_tag current_user.photo %>
<% end %>

<h2>My parents</h2>

<%= cl_image_tag(current_user.couple.photo, :transformation=>[
  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>80, :crop=>"scale"}
  ]) %>

<p><%= current_user.couple.name %></p>

<% current_user.couple.bookings.each do |booking| %>
  <p><%= booking.status %></p>
<% end %>

<h2>My reservations</h2>

<% current_user.bookings.each do |booking| %>
  <p><%= booking.start_date %></p>
<% end %>
