<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <body>

    <div class="navbar-lewagon">
      <a href="/"><p>PARHUNT</p></a>

      <div>
        <button type="button" class="btn btn-danger"> <a href="/couples">All parents</a> </button>
        <button type="button" class="btn btn-danger"> <a href="/couples/new">Rent your parents</a> </button>

        <% if current_user.nil? %>
          <button type="button" class="btn btn-secondary"><a href="/">Sign in</a></button>
        <% else  %>
          <a href="/dashboard">
            <img class="avatar" src="<% cl_image_tag current_user.photo %>">
          </a>
        <% end %>

      </div>
    </div>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
