<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= stylesheet_pack_tag 'application' %> <!-- NEW! -->
       <%= javascript_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <body>

    <div class="navbar-lewagon">
      <p><%= link_to "PARHUNT", couples_path %></p>

      <div>
        <button type="button" class="btn btn-danger">
          <%= link_to "All parents", couples_path %>
        </button>
        <button type="button" class="btn btn-danger"> <a href="/couples/new">Rent your parents</a> </button>

        <% if current_user.nil? %>
          <button type="button" class="btn btn-secondary"><a href="users/sign_up">Sign in</a></button>
        <% else  %>
          <%= link_to current_user.fullname, dashboard_path %>
          <a href="/dashboard">
          <%= cl_image_tag current_user.photo, {class: "avatar"} %>
          </a>
         <button type="button" class="btn btn-secondary"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %></button>
          <% end %>
      </div>

    </div>

    <div class=" min-height">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/louwelgryn/parhunt" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/lewagonparis/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://fr-fr.facebook.com/lewagon/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/school/le-wagon/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        With <i class="fas fa-heart"></i> from Parhunt
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
